In [83]:
s = '468hi3.4'
a = [4,6,8,'hi',3.4]
b = (4,6,8,'hi',3.4)
c = {4:6,8:['hi',3.4]}
d = {4,6,8,'hi',3.4}

In [84]:
type(s), type(a), type(b), type(c), type(d)

(str, list, tuple, dict, set)

In [85]:
len(s), len(a), len(b), len(c), len(d)

(8, 5, 5, 2, 5)

In [15]:
# Now we moving forword to insert something 
# str is immutable(means i cannot change in this) so by nature we cannot change but we can change it with the help of +, *

# 2 + 3
# 'hi' + 'Hello'
# [4,5] + [6,7]
# (4,5) + (3,6)
# {3:4} + {4:6} in dictonary we cannot change 
# {3,4} + {4,5} in set we also cannnot change

In [17]:
# 'hi' * 3

'hihihi'

In [27]:
s += 'K'
s

'468hi3.4K'

In [28]:
s[3:]

'hi3.4K'

In [29]:
s = s[:3] + 'JoBhiAapChahein' + s[3:]
s

'468JoBhiAapChaheinhi3.4K'

In [30]:
a

[4, 6, 8, 'hi', 3.4]

In [31]:
a += ['Bye']
a

[4, 6, 8, 'hi', 3.4, 'Bye']

In [35]:
a = a[:2]+[39]+a[2:]
a

[4, 6, 39, 8, 'hi', 3.4]

In [36]:
b

(4, 6, 8, 'hi', 3.4)

In [44]:
b += ('Bye',) #Yaha pe tuple main tuple ko hi add kar 
b

(4, 6, 8, 'hi', 3.4, 'Bye')

In [49]:
m = ('bye')
type(m)

str

In [50]:
a + b

TypeError: can only concatenate list (not "tuple") to list

In [53]:
# (*a, *b)
(*a, *b, *s) # there is a shoertcut to convert into tuple with *

# *args and **kwargs --> Special Symbols Used for passing arguments in Python:

(4,
 6,
 8,
 'hi',
 3.4,
 4,
 6,
 8,
 'hi',
 3.4,
 'Bye',
 '4',
 '6',
 '8',
 'h',
 'i',
 '3',
 '.',
 '4')

In [55]:
# In dicionary it give you 


# c[4] # with this we can find the value 
# c['type'] = 'ekValue'
# c[99] = 'ekValue'
# c[99] = 86
c[99] = [86, 'ekValue']
c

{4: 6, 8: ['hi', 3.4], 99: [86, 'ekValue']}

In [58]:
c2 = {'a':45, 'b':35}
print(c)
print(c2)

{4: 6, 8: ['hi', 3.4], 99: [86, 'ekValue']}
{'a': 45, 'b': 35}

In [59]:
# There is a shortcut here also 
# (*args, **kwags) to add(or insert or concatinate) two dictionary 
# with the help of args we can insert into str, list, tuple
# with the help of kwargs we can insert into dict, set


{**c, **c2}

{4: 6, 8: ['hi', 3.4], 99: [86, 'ekValue'], 'a': 45, 'b': 35}

In [65]:
## Item Assignment ki baat karenge ab 

# s[0] = 'A'    # TypeError: 'str' object does not support item assignment bcz it is immutable

# a[0] = 'A'    # here is done bcz it is mutable

# b[0] = 'A'    # TypeError: 'tuple' object does not support item assignment

# c[4] = 66     # here is done bcz it is mutable

{4: 66, 8: ['hi', 3.4], 99: [86, 'ekValue']}

In [76]:
## Item Delation 

# del s[0]  # Not Possible ('str' object doesn't support item deletion)
# del a[0]  # Done
# del b[0]  # Not Possible ('tuple' object doesn't support item deletion)
# del c[4]  # Done

{8: ['hi', 3.4], 99: [86, 'ekValue']}

In [77]:
t = None

In [78]:
True

True

In [81]:
# bool('False') # --> True
# bool('iorghqiogh') # --> True
bool('') # --> False

False

In [82]:
print(bool(' '), 
      bool([]), 
      bool({}), 
      bool(()), 
      bool(-1), 
      bool(45), 
      bool([()]))

True False False False True True True

In [6]:
a = 34
b = 34.5
c = 34+5j
d = 'hello'
e = [3,4,5]
f = (3,4,5)
g = {3:[4,5]}
h = {3,4,5}

In [1]:
# Data Type Built-in Function 
    #1. str: upper, lower, find, split, strip, join, format, count
    #2. list: append, sort, count, copy, insert, remove, index, pop
    #3. tuple: count, index
    #4. dict: keys, values, update, get, pop
    #5. set: add, difference, union, pop, remove

In [7]:
d.upper()

'HELLO'