In [ ]:
# if Number of iteration is known than "for loop" is useful 
''''
for(int i=1; i<11; i++){
    # kahani 
}
'''


'''
foreach(int i in somearray){
    do something 
}
'''

# do-while --> in python there no do-while loop like c and c++


for-each

for obj in collection:
    pass

range() #in range function like we use slincing

In [47]:
a =2
while a > 5:
    pass # means do nothing
print('hi')
print('nice')

# donot run it, it will go in infinite loop

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
list(range(1,11,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
a = [4,'hi', 'nice', 35]
b = []

# It is easy to implement we prefer this 
for val in a:
    b.append(val*2)
b

[8, 'hihi', 'nicenice', 70]

In [4]:
a * 2 # it double everything in the list

[4, 'hi', 'nice', 35, 4, 'hi', 'nice', 35]

In [6]:
for i in range(len(a)):
    b.append(a[i] * 2)
b

# But it is not priferable bcz it is complex to write and implement also

[8, 'hihi', 'nicenice', 70, 8, 'hihi', 'nicenice', 70]

In [ ]:
# Comprehension  --> if i have to create new thing from old one than comprehension is used 
## For-Loop Statements which are of one liner

# List Comprehension 
    # [ output for-loop ] --> write output in left and input in right
    # [output for-loop if-condition] --> here we only write only one if condition although in this if conditon may be more than one condition 
# Dict Comprehension 
    # { key_op:value_op for-loop }
# Set Comprehension 
    # { output for-loop }
# Generator Comprehension 
    # (output for-loop)

In [9]:
# This one we will use 


# b = [for val in a] --> right side we do cal
b = [val*3 for val in a]
b

[12, 'hihihi', 'nicenicenice', 105]

In [10]:
k = [4,7,3,67,34,2,4,45,22,11,9,8]

In [11]:
k[0] % 2 == 0

True

In [12]:
p = [val for val in k if val%2==0]
p

[4, 34, 2, 4, 22, 8]

In [15]:
# Find the odd no which is greater than 10

# q = [val for val in k if val%2!=0 and val>10]
q = [val for val in k if val % 2==1 and val > 10]
q

[67, 45, 11]

In [16]:
# Find the even no which is greater than 10

q = [val for val in k if not val % 2 and val > 10]
q

[34, 22]

In [18]:
p = []
for val in k:
    if val%2==0:
        p.append(val // 2)
    else:
        p.append(val*2)
p

[2, 14, 6, 134, 17, 1, 2, 90, 11, 22, 18, 4]

In [20]:
p = [val for val in k if val%2==0]
p

[4, 34, 2, 4, 22, 8]

In [21]:
# Ternary operator condition in C
# a > 5 ? ye kar dena : ye wla kar dena 

# In Python 
# ye kar dena if-condition else ye wala kar dena

In [23]:
p = [val * 2 if val % 2 == 1 else val // 2 for val in k]
p

[2, 14, 6, 134, 17, 1, 2, 90, 11, 22, 18, 4]

In [26]:
# Task: Multiply by 2 if odd otherwise check if it is less than 20 than do // 2 otherwise do not do anything 

p = [val*2 if val%2==1 else (val // 2 if val < 20 else val)
    for val in k 
    ]
p

[2, 14, 6, 134, 34, 1, 2, 90, 22, 22, 18, 4]

In [29]:
# k

#  koi_function ([val for val in k])

In [30]:
k

[4, 7, 3, 67, 34, 2, 4, 45, 22, 11, 9, 8]

In [31]:
m = {val: val**2 for val in k if val % 2 ==0}
m

{4: 16, 34: 1156, 2: 4, 22: 484, 8: 64}

In [32]:
# It only print keys 
for i in m:
    print(i)

4
34
2
22
8

In [33]:

for i in m.items():
    print(i)

(4, 16)
(34, 1156)
(2, 4)
(22, 484)
(8, 64)

In [34]:
#  here in this with item we can get both key and value it give in 
for i,j in m.items():
    print(i,j)

4 16
34 1156
2 4
22 484
8 64

In [43]:
# User Defined Functions 
########################

def function_ka_naam():
    '''
    ye wala function kuch karta warta nhi hai 
    bus aise hi bna diya hai 
    call karne ke liye nujhe call karein
    
    '''
    print('Ye kuch kar dega')

In [39]:
function_ka_naam()

Ye kuch kar dega

In [40]:
function_ka_naam

In [44]:
help(function_ka_naam)

Help on function function_ka_naam in module __main__:

function_ka_naam()
    ye wala function kuch karta warta nhi hai
    bus aise hi bna diya hai
    call karne ke liye nujhe call karein

In [46]:
function_ka_naam

In [53]:
def ekOr(ekValue, dusriValue):
    print('Kuch nho ')
    return ekValue * dusriValue

In [54]:
ekOr(4,5)

Kuch nho

20

In [56]:
y = function_ka_naam()

Ye kuch kar dega

In [57]:
x = 20

In [58]:
print(x,y)

20 None

In [65]:
def meriMarzi(ekValue, dusriValue):
    print('Kuch bhi')
    return (ekValue * dusriValue) + ekValue

In [63]:
meriMarzi(dusriValue=10, ekValue=12)

Kuch bhi

132

In [64]:
# meriMerzi(dusriValue=10, 12)
meriMarzi(12, dusriValue=10)

# Named parameter always come right side and

Kuch bhi

132

In [66]:
def meriMarzi(ekValue, dusriValue, teesara=0):
    print('Kuch bhi')
    return (ekValue * dusriValue) + ekValue - teesara

In [67]:
meriMarzi(12, dusriValue=10, )

Kuch bhi

132

In [73]:
meriMarzi(1,)

Kuch bhi

0

In [80]:
def kuchOr(x=10, *v): # with * we can use more than one argument 
    return [i*x for i in v]

In [83]:
kuchOr(3,6,7)

[18, 21]

In [85]:
def kuchOr(x=10, *v, **u): # first vale ko argument which is in tuple and dusra vala which in dictionary
    return [i*x for i in v], u


# tuple can be written as simply commas this is hidden concept that tuple can be use like this

In [86]:
kuchOr(3,6,8)

([18, 24], {})

In [87]:
kuchOr(3,6,9, somedata = [3,4,5,6])

([18, 27], {'somedata': [3, 4, 5, 6]})